.vue-repl-container{
  display: flex;
  min-height:fit-content !important;
}
.msg{
   position: absolute;
   bottom: 0;
   left: 0px !important;
   right: 23px !important;
   margin-bottom:0 !important;
   pre {
    overflow: auto;

    /* 滚动条整体 */
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    /* 滚动条轨道 */
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0);
    }

    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
      background-color: rgba(128, 128, 128, 0.3);
      border-radius: 4px;
      transition: background-color .2s;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(128, 128, 128, 0.45);
    }

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.3) transparent;
  }
}
